@import "tachyons.scss";
@import url('https://fonts.googleapis.com/css?family=Ultra');

.ultra {
    font-family: 'Ultra', serif;
    font-weight: 400;
}

.show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.before-content {
    position:relative;

    &:before {
        content:"";
        display:block;
        position:absolute;
    }
}

.after-content {
    position:relative;

    &:before {
        content:"";
        display:block;
        position:absolute;
    }
}

.nextBtn {
    cursor:pointer;
    background-image: url("/images/svg/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 68%;
}

.thumbUpBtn {
    cursor:pointer;

    &:before {
        background: url("/images/svg/thumb-up.svg");
        width: 16px;
        height: 16px;
        left: 50%;
        transform: translate3d(-50%, 0,0);
        z-index: 2;
        background-size: 100%;
        background-repeat: no-repeat;
        top: 0.5rem;
    }

}

.wantToSeeBtn {
    cursor:pointer;

    &:before {
        background: url("/images/svg/plus.svg");
        width: 16px;
        height: 16px;
        left: 50%;
        transform: translate3d(-50%, 0,0);
        z-index: 2;
        background-size: 100%;
        background-repeat: no-repeat;
        top: 0.5rem;
    }
}
.top-50p {
    top:50%;
}

.absolute-center-v {
    top:50%;
    transform: translate3d(0, -50%, 0);
}

.absolute-center-h {
    left:50%;
    transform: translate3d(-50%, 0, 0);
}

.right--5 {
    right:-5rem;
}

.deleteBtn {
    cursor:pointer;
}

.modalWindow {
    background-color:rgba(0,0,0,0.7);
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    grid-gap: 1rem;


    @media all and (min-width: 340px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    @media all and (min-width: 640px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    @media all and (min-width: 768px) {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    @media all and (min-width: 1000px) {
        grid-template-columns: repeat(6, minmax(150px, 1fr));
    }

    @media all and (min-width: 1500px) {
        grid-template-columns: repeat(8, minmax(150px, 1fr));
    }
}

.moviePoster {
    margin-right: 2%;
}
